---
import Layout from "../../layouts/Layout.astro";
import GalleryIndex from "../../components/gallery/GalleryIndex.astro";
import GallerySection from "../../components/gallery/GallerySection.astro";
import Lightbox from "../../components/gallery/Lightbox.astro";

const seriesPreview = [
  {
    title: "Ugoku no ka, ugokanai no ka",
    year: "2019",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Ugoku%20no%20Ka,%20Ugokanai%20no%20ka/Jiyuu.jpg?updatedAt=1772708022706",
    href: "#ogoku-no-ka-ugokanai-no-ka",
  },
  {
    title: "Kiseki",
    year: "2016-2020",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Kiseki/Violeta.jpg?updatedAt=1772749132755",
    href: "#kiseki",
  },
  {
    title: "Inori no Boukyaku",
    year: "2016",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Inori%20no%20Boukyaku/origami.jpg?updatedAt=1772749183141",
    href: "#inori-no-boukyaku",
  },
];

const ugokunokaArtworks = [
  {
    title: "Jiyuu",
    year: "2020",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Ugoku%20no%20Ka,%20Ugokanai%20no%20ka/Jiyuu.jpg?updatedAt=1772708022706",
    alt: "Jiyuu",
  },
  {
    title: "Janguru",
    year: "2020",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Ugoku%20no%20Ka,%20Ugokanai%20no%20ka/janguru.jpg?updatedAt=1772708022717",
    alt: "Janguru",
  },
  {
    title: "Kensetsu",
    year: "2020",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Ugoku%20no%20Ka,%20Ugokanai%20no%20ka/kensetsu.jpg?updatedAt=1772708022681",
    alt: "Kensetsu",
  },
  {
    title: "Meisai",
    year: "2020",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Ugoku%20no%20Ka,%20Ugokanai%20no%20ka/meisai.jpg?updatedAt=1772708022879&ik-s=92261e73e74652d419ff40d105d171c91cb62b2a",
    alt: "Meisai",
  },
  {
    title: "Mura",
    year: "2020",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Ugoku%20no%20Ka,%20Ugokanai%20no%20ka/mura.jpg?updatedAt=1772708022757",
    alt: "Mura",
  },
  {
    title: "Sangoshou",
    year: "2020",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Ugoku%20no%20Ka,%20Ugokanai%20no%20ka/sangoshou.jpg?updatedAt=1772708022729",
    alt: "Sangoshou",
  },
  {
    title: "Senka",
    year: "2020",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Ugoku%20no%20Ka,%20Ugokanai%20no%20ka/senka.jpg?updatedAt=1772708022719",
    alt: "Senka",
  },
  {
    title: "Sensou",
    year: "2020",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Ugoku%20no%20Ka,%20Ugokanai%20no%20ka/sensou.jpg?updatedAt=1772708022888",
    alt: "Sensou",
  },
  {
    title: "Shokumotsu",
    year: "2020",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Ugoku%20no%20Ka,%20Ugokanai%20no%20ka/shokumotsu.jpg?updatedAt=1772708022690",
    alt: "Shokumotsu",
  },
  {
    title: "Su",
    year: "2020",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Ugoku%20no%20Ka,%20Ugokanai%20no%20ka/su.jpg?updatedAt=1772708022721",
    alt: "Su",
  },
  {
    title: "Tokeru",
    year: "2020",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Ugoku%20no%20Ka,%20Ugokanai%20no%20ka/tokeru.jpg?updatedAt=1772708022683",
    alt: "Tokeru",
  },
  {
    title: "Umare",
    year: "2020",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Ugoku%20no%20Ka,%20Ugokanai%20no%20ka/umare.jpg?updatedAt=1772708022739",
    alt: "Umare",
  },
  {
    title: "Yuuutsu",
    year: "2020",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Ugoku%20no%20Ka,%20Ugokanai%20no%20ka/yuuutsu.jpg?updatedAt=1772708022699",
    alt: "Yuuutsu",
  },
  {
    title: "Zadankai",
    year: "2020",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Ugoku%20no%20Ka,%20Ugokanai%20no%20ka/zadankai.jpg?updatedAt=1772708022769",
    alt: "Zadankai",
  },
];

const kisekiArtworks = [
  {
    title: "Auteuil",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Kiseki/Auteuil.jpg?updatedAt=1772749132768",
    alt: "Auteuil",
  },
  {
    title: "Eriko",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Kiseki/Eriko.jpg?updatedAt=1772749132849",
    alt: "Eriko",
  },
  {
    title: "Flawless",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Kiseki/Flawless.jpg?updatedAt=1772749132860",
    alt: "Flawless",
  },
  {
    title: "Framboise",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Kiseki/Framboise.jpg?updatedAt=1772749132774",
    alt: "Framboise",
  },
  {
    title: "Genario",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Kiseki/Genario.jpg?updatedAt=1772749132846",
    alt: "Genario",
  },
  {
    title: "Léa",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Kiseki/Lea.jpg?updatedAt=1772749132808",
    alt: "Léa",
  },
  {
    title: "Paloma",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Kiseki/Paloma.jpg?updatedAt=1772749132730",
    alt: "Paloma",
  },
  {
    title: "Pájaros",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Kiseki/P%C3%A1jaros.jpg?updatedAt=1772749132761",
    alt: "Pájaros",
  },
  {
    title: "Raffaella",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Kiseki/Raffaella.jpg?updatedAt=1772752722808",
    alt: "Raffaella",
  },
  {
    title: "Raffaello",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Kiseki/Raffaello.jpg?updatedAt=1772749132762",
    alt: "Raffaello",
  },
  {
    title: "Violeta",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Kiseki/Violeta.jpg?updatedAt=1772749132755",
    alt: "Violeta",
  },
  {
    title: "Yakuza",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Kiseki/yakuza.jpg?updatedAt=1772749132741",
    alt: "Yakuza",
  },
];

const inorinobokyakuArtworks = [
  {
    title: "Bonsai",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Inori%20no%20Boukyaku/Bonsai.jpg?updatedAt=1772749182991",
    alt: "Bonsai",
  },
  {
    title: "Dana",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Inori%20no%20Boukyaku/Dana.jpg?updatedAt=1772749183099",
    alt: "Dana",
  },
  {
    title: "Harry",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Inori%20no%20Boukyaku/Harry.jpg?updatedAt=1772749183085",
    alt: "Harry",
  },
  {
    title: "Koi",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Inori%20no%20Boukyaku/Koi.jpg?updatedAt=1772749183108",
    alt: "Koi",
  },
  {
    title: "Araku",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Inori%20no%20Boukyaku/araku.jpg?updatedAt=1772749183061",
    alt: "Araku",
  },
  {
    title: "Ebi",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Inori%20no%20Boukyaku/ebi.jpg?updatedAt=1772749183180",
    alt: "Ebi",
  },
  {
    title: "Inu",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Inori%20no%20Boukyaku/inu.jpg?updatedAt=1772749183152",
    alt: "Inu",
  },
  {
    title: "Kanashimi",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Inori%20no%20Boukyaku/kanashimi.jpg?updatedAt=1772749183104",
    alt: "Kanashimi",
  },
  {
    title: "Origami",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Inori%20no%20Boukyaku/origami.jpg?updatedAt=1772749183141",
    alt: "Origami",
  },
  {
    title: "Shio",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Inori%20no%20Boukyaku/shio.jpg?updatedAt=1772749183173",
    alt: "Shio",
  },
  {
    title: "Shiroi",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Inori%20no%20Boukyaku/shiroi.jpg?updatedAt=1772749183047",
    alt: "Shiroi",
  },
  {
    title: "Umi",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Inori%20no%20Boukyaku/umi.jpg?updatedAt=1772749183086",
    alt: "Umi",
  },
  {
    title: "Wasureta",
    year: "2024",
    description: "Fotografía digital",
    image:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Photography/Inori%20no%20Boukyaku/wasureta.jpg?updatedAt=1772749182998",
    alt: "Wasureta",
  },
];
---

<Layout title="Lou Campos - Photography Gallery">
  <main
    class="flex-grow w-full max-w-[1600px] mx-auto px-6 md:px-12 py-8 flex flex-col gap-20"
  >
    <GalleryIndex title="Index: Fotografía" items={seriesPreview} />

    <GallerySection
      id="ugoku-no-ka-ugokanai-no-ka"
      title="Ugoku no ka, ugokanai no ka"
      description={`¿Se mueve o no se mueve?
*Aru: existencia, presencia.*
*Iru: existencia, presencia.*
*Museibutsu: objeto inanimado.*
*Ikimono: ser animado.*

En la antigüedad, los japoneses utilizaban el verbo *Iru* para referirse a todas aquellas cosas de vida finita que desaparecerían. Así mismo, usaban el verbo *Aru* para denominar a todas aquellas que les sobrevivirían.

En la actualidad, para discernir si deben decantarse por *iru*/*aru* en referencia a algo, el profesor de lengua japonesa pregunta a sus alumnos: “¿se mueve o no se mueve?”`}
      artworks={ugokunokaArtworks}
    />

    <GallerySection
      id="kiseki"
      title="Kiseki"
      description="La luz se adentra en la casa familiar, provocando revelaciones privadas al contacto con las estancias, desvelando a sus legítimos habitantes."
      artworks={kisekiArtworks}
    />

    <GallerySection
      id="inori-no-boukyaku"
      title="Inori no Boukyaku"
      description="El transcurso de los años se desgrana en una pequeña onda que crece y reverbera, dando lugar a un olvido devocional, la historia del ser humano se repite con un magnetismo no tan inusitado."
      artworks={inorinobokyakuArtworks}
    />
  </main>

  <Lightbox />
</Layout>
