---
import Layout from "../layouts/Layout.astro";
import HeroCarousel from "../components/HeroCarousel.astro";

const slides = [
  {
    imageDesktop: "/portada1.jpg",
    imageMobile: "/portada1_v.jpg", // REPLACE THIS LATER IF THERES A MOBILE SPECIFIC ONE
    title: "Explora mi mundo",
    buttonText: "Ver todas las Obras",
    link: "/works",
  },
  {
    imageDesktop: "/portada2.jpg",
    imageMobile: "/portada2_v.jpg", // REPLACE THIS LATER IF THERES A MOBILE SPECIFIC ONE
    title: "Fotografía y Captura",
    buttonText: "Ver Fotografía",
    link: "/works/fotografia",
  },
  {
    imageDesktop: "/images/preview_plastic_arts.png",
    imageMobile: "/images/preview_plastic_arts.png", // REPLACE THIS LATER IF THERES A MOBILE SPECIFIC ONE
    title: "Artes Plásticas",
    buttonText: "Ver Artes Plásticas",
    link: "/works/plastic-arts",
  },
];
---

<Layout title="Lou Campos - Artist Portfolio">
  <main
    class="flex-grow w-full relative h-[calc(100vh-140px)] landscape:h-[calc(100vh-80px)] md:h-[calc(100vh-180px)] md:landscape:h-[calc(100vh-180px)] overflow-hidden bg-black"
  >
    <HeroCarousel slides={slides} />
  </main>
</Layout>
