---
import Layout from "../layouts/Layout.astro";
import HeroCarousel from "../components/HeroCarousel.astro";

const slides = [
  {
    imageDesktop:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Front%20page/portada1.jpg?updatedAt=null&ik-s=a7f5d79204bbb21f89db810bc58d00f0d6e5049b",
    imageMobile:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Front%20page/portada1_v.jpg?updatedAt=null&ik-s=5818bee02100bbfc3dc999170494697e66f4d0a0", // REPLACE THIS LATER IF THERES A MOBILE SPECIFIC ONE
    title: "Explora mi mundo",
    titleI18n: "hero.slide1.title",
    buttonText: "Ir a obra fotográfica",
    buttonI18n: "hero.slide1.btn",
    link: "/works/photography",
  },
  {
    imageDesktop:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Front%20page/portada2.jpg?updatedAt=null&ik-s=05d807c5bbf7d0dfc003b10eb80c9d574a0a4072",
    imageMobile:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Front%20page/portada2_v.jpg?updatedAt=1772806617565&ik-s=65a2b2d101295fb3132d714ae6a2046fc1a82b7d", // REPLACE THIS LATER IF THERES A MOBILE SPECIFIC ONE
    title: "Fotografía y Captura",
    titleI18n: "hero.slide2.title",
    buttonText: "Ir a obra pictórica",
    buttonI18n: "hero.slide2.btn",
    link: "/works/painting",
  },
  {
    imageDesktop:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Front%20page/portada3.jpg?updatedAt=1772806617609&ik-s=4259b24f2d3f5a7f5ba3115781336e47ee51c8ef",
    imageMobile:
      "https://ik.imagekit.io/3dh5sszdn/LouCampos/Front%20page/portada3_v.jpg?updatedAt=1772806617701&ik-s=0d2656378fb847e992bac5bfc48cd6ecc10eae32", // REPLACE THIS LATER IF THERES A MOBILE SPECIFIC ONE
    title: "Obra Pictórica",
    titleI18n: "hero.slide3.title",
    buttonText: "Más sobre mí",
    buttonI18n: "hero.slide3.btn",
    link: "/about",
  },
];
---

<Layout title="Lou Campos - Artist Portfolio">
  <main
    class="flex-grow w-full relative h-[calc(100dvh-140px)] landscape:h-[calc(100dvh-80px)] md:h-[calc(100dvh-180px)] md:landscape:h-[calc(100dvh-180px)] overflow-hidden bg-black"
  >
    <HeroCarousel slides={slides} />
  </main>
</Layout>
