---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Lou Campos - Artist Portfolio">
    <main
        class="flex-grow w-full relative h-[calc(100vh-140px)] md:h-[calc(100vh-180px)] overflow-hidden"
    >
        <img
            alt="Exposición de Arte - Lou Campos"
            class="absolute inset-0 w-full h-full object-cover object-center"
            src="/portada.png"
        />
        <div
            class="absolute inset-0 z-20 flex flex-col items-center justify-center text-center p-6 bg-gradient-to-t from-gray-900/50 via-transparent to-transparent"
        >
            <!-- Espacio reservado para texto principal de la portada si se requiere más adelante -->
        </div>
    </main>
</Layout>
